<% provide(:title, 'О Нас') %>
<!DOCTYPE html>
<html>
<head>
  <title>Ruby on Rails Tutorial Sample App | <%= yield(:title) %></title>
</head>
<body>

<% provide(:title, 'О Нас') %>
<h1>О Нас</h1>
<p>
  Шью с любовью для Вас👐🛠
  DMITRIY ARABADZHY .<br>
  По желанию можно изменить цвет изделия,цвет нити, размеры и т.д.🔝Принимаю заказы на индивидуальный пошив аксессуаров из натуральной кожи!Цена каждого изделия индивидуальна, для заказа пишите в Direct, Viber,WhattsApp📩
</p>
<br><br><br><br><br><br><br><br><br><br><br><br><br>
</body>
</html>