<% provide(:title, 'Contact') %>
<h1>Контакты</h1>
<div style="text-align: center; padding-bottom: 20px;">
<p>
 <strong style="color: #938d1a"> Contact with me -   <a href="https://www.facebook.com/Arabadzhy-Dmitriy-212539849313114/"><b style="color: #938d1a">Dmitriy Arabadzhy</b></a></strong> <br>
  <strong>📱 - +380989787298; +380631542754</strong>

</p>
  </div>
<div style="text-align: center; padding-bottom: 20px;">
<%= link_to image_tag("Remen.jpg", alt: "Rails") %> </div>