<% provide(:title, 'Home') %>
<!DOCTYPE html>
<html>
<head>
  <title>Arabadzhy Production|Tesl Engineering<%= yield(:title) %></title>

  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->

</head>
<body>

<% provide(:title, 'Home') %>

<h1>ИЗДЕЛИЯ <!--ИЗ НАТУРАЛЬНОЙ КОЖИ--></h1>
<div
style="display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    background-color: #2196F3;
    /*padding: 10px;*/
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding:20px 0;
    font-size: 30px;" class="row">



  <br>



  <!--<div class="row">-->
    <!--<div class="col-sm-4" >-->

          <% @candidates.each do |candidate| %>
        <br><br>
      <% if candidate.image.present? %>
        <%= link_to (image_tag candidate.image.thumb.url), candidate_path(candidate), class: "img-responsive" %>
      <% else %>
        can't upload image
      <% end %>
        <!--<br>-->
        <%= candidate.name %>
        <br>
    <% end %>

    <!--</div>-->
  <!--</div>-->
</div>

  <button style="background-position:center; position: center", class="favth-btn">
    <%= link_to 'Админка', candidates_path, class: "btn btn-mini btn-warning", type: "button"%>
  </button>

</body>
</html>