<% provide(:title, '') %>
<!DOCTYPE html>
<html>
<head>
  <title>Arabadzhy Production|Tesl Engineering<%= yield(:title) %></title>

  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->

</head>
<body>

<% provide(:title, '') %>

<h1>ИЗДЕЛИЯ <!--ИЗ НАТУРАЛЬНОЙ КОЖИ--></h1>
<main class="center">
<div class = "gridtesl" style="padding-right: 190px;"

>
  <!--<div class = "gri">-->
  <br>
  <% @candidates.each do |candidate| %>
    <br><br>
    <% if candidate.image.present? %>
      <div ><%= link_to (image_tag candidate.image.thumb.url), candidate_path(candidate), class: "img-responsive" %>
    <% else %>
      can't upload image
    <% end %>
    <!--<br>-->
    <br><%= candidate.name %><br><br></div>
    <br>
  <% end %>
</div>
<!--</div>-->
<br>
</main>
<button style="background-position:center; position: center", class="favth-btn">
  <%= link_to 'Админка', candidates_path, class: "btn btn-mini btn-warning", type: "button"%>
</button>

</body>
</html>