<div>

  <h4> <%= comment.commenter %>:</h4>
<strong><%= comment.body %></strong>
</div>
<br><br>
<p>
  <%= link_to 'Удалить Комментарий', [comment.candidate, comment], class: 'btn-sm btn-primary',
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p><br><br>