<h1>Editing Candidate</h1>

<%= render 'form', candidate: @candidate %>

<div class="actions" style="text-align: center; ">
  <%= link_to 'Удалить Товар', @candidate, method: :delete, data: { confirm: 'Вы уверенны, что хотите удалить?' }, class: 'btn btn-sm btn-danger' %>
</div>
<div class="actions" style="text-align: left; padding-left: 25px ">
<%= link_to 'К Просмотру Товара', @candidate, class: 'btn btn-primary' %> |
<%= link_to 'Вернуться к каталогу', candidates_path, class: 'btn btn-primary' %>
</div>