<h1>Создать Новый Продукт</h1>

<%= render 'form', candidate: @candidate, class: 'btn btn-primary' %>
<div class="actions" style="padding-left: 25px ">
<%= link_to 'Вернуться к каталогу', candidates_path, class: 'btn btn-primary' %>
</div>