<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <i style="text-align: center;
          position: absolute;
          right: 300px;
          padding-top: 33px"><%#= link_to "Tesl-n-Co", candidates_url, id: "logo" %></i>

      <!--<b style="text-align: right;
          position: absolute;
          right: 45px;
          padding-top: 33px"><%#= link_to 'На Главную', root_path, class:"btn btn-large btn-primary" %></b>-->


      <%= link_to(image_tag("Arab_Logotype.png", size: "230x100", :alt => "rss feed", id:'booksget_logo'), root_path )%>






    </div>
  </div>
</header>
